@model List<AlifAdminMiniMarketV2.Models.Product>
@{
    ViewData["Title"] = "Продукты";
}

<a asp-action="Add" asp-controller="Product">Add</a>
<form asp-action="Index" asp-controller="Product" asp-antiforgery="true">
<select name="category">
    <option>
        Все
    </option>
    @foreach (var x in ViewBag.Categories)
    {
        <option>@x.Category</option>
    }
</select>
<input type="submit" value="Перейти">
</form>
<table class="table table-active table-bordered table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Product</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>    
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.ProductName</td>
                <td>@x.Price</td>
                <td><a asp-action="Delete" asp-controller="Product" asp-route-id="@x.Id" id="Delete">Delete</a> <a asp-action="Edit" asp-controller="Product" asp-route-id="@x.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>